.editor-main {
  --editor-font-color: #0c0c0c;
  --editor-background-color: #333;
  --editor-font-size: 1.2rem;
  --editor-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --editor-shadow-box: 7px 7px 8px 0 rgba(0, 0, 0, 0.5);

  display: flex;
  margin: auto;
  flex-direction: column;
  font-family: var(--editor-font-family);
  font-size: var(--editor-font-size);
  color: var(--editor-font-color);
}

.editor-main .editor-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  color: var(--editor-font-color);
  font-size: var(--editor-font-size);
  font-family: var(--editor-font-family);
}

.editor-main .editor {
  width: 100%;
  height: 100%;
  resize: vertical;
  background-color: transparent;
  color: var(--editor-font-color);
  font-size: var(--editor-font-size);
  font-family: var(--editor-font-family);
}

.editor-main .preview {
  overflow-wrap: break-word;
}

.editor-main input {
  height: 2em;
}

.editor-main textarea {
  min-height: 22vh;
}

.editor-main input,
.editor-main textarea {
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  .editor-main {
    --editor-font-color: #cecece;
    --editor-background-color: #333;
    --editor-shadow-box: 7px 7px 8px 0 rgba(255, 255, 255, 0.5);
  }
}
